<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="assets/css/style/menu.css">
</head>
<body>
<!--start website-->
<div id="start">
    <!--menu-->
    <section class="menu">
        <nav>
            <ul>
                <a href="">صفحه اصلی</a>
                <a href="">صفحه اصلی</a>
                <a href="">صفحه اصلی</a>
                <a href="">صفحه اصلی</a>
            </ul>
        </nav>
    </section>
    <!--endmenu-->
    <!--paralax-->
    <section class="paralax">
        <h1>this is my website</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Adipisci atque dolore dolores ducimus ea esse expedita id illum iusto labore obcaecati perferendis quae,
            quibusdam, quo rerum sit temporibus veritatis voluptatem.</p>
    </section>
    <!--endparalax-->
    <!--news-->
    <section class="news">
        <div class="item"><img src="https://www.topgear.com/sites/default/files/2022/07/13.jpg">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At debitis dignissimos earum et exercitationem,
                fugiat fugit maxime, necessitatibus neque officia repudiandae similique sit ullam ut veritatis
                voluptatem voluptatum! Rerum, ut!</p><a href="">read more</a></div>
        <div class="item"><img src="https://www.topgear.com/sites/default/files/2022/07/13.jpg">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet asperiores autem commodi
                consequuntur cupiditate delectus eligendi enim error, inventore nesciunt nihil nisi officiis quo
                reiciendis temporibus vel velit voluptate.</p><a href="">read more</a></div>
        <div class="item"><img src="https://www.topgear.com/sites/default/files/2022/07/13.jpg">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus eius excepturi facilis optio,
                praesentium temporibus voluptatem. Accusantium dolorem magni maxime nam pariatur, repellendus
                voluptatem. Aliquid minima quam temporibus tenetur voluptate?</p><a href="">read more</a></div>
    </section>
    <!--endnews-->
    <!--about us-->
    <section class="about">
        <div class="us"><h1>about us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aspernatur dolorum eius impedit molestias
                odit possimus quis quos soluta. Dignissimos eveniet exercitationem illum itaque iusto odio odit quod
                sequi voluptas!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aspernatur dolorum eius impedit molestias
                odit possimus quis quos soluta. Dignissimos eveniet exercitationem illum itaque iusto odio odit quod
                sequi voluptas!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aspernatur dolorum eius impedit molestias
                odit possimus quis quos soluta. Dignissimos eveniet exercitationem illum itaque iusto odio odit quod
                sequi voluptas!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aspernatur dolorum eius impedit molestias
                odit possimus quis quos soluta. Dignissimos eveniet exercitationem illum itaque iusto odio odit quod
                sequi voluptas!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aspernatur dolorum eius impedit molestias
                odit possimus quis quos soluta. Dignissimos eveniet exercitationem illum itaque iusto odio odit quod
                sequi voluptas!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aspernatur dolorum eius impedit molestias
                odit possimus quis quos soluta. Dignissimos eveniet exercitationem illum itaque iusto odio odit quod
                sequi voluptas!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aspernatur dolorum eius impedit molestias
                odit possimus quis quos soluta. Dignissimos eveniet exercitationem illum itaque iusto odio odit quod
                sequi voluptas!</p></div>
    </section>
    <!--end about us-->
    <!--form-->
    <section class="form">
        <div class="data-table">
            <table>
                <tr class="row">
                    <td><label for="name">نام خود را وارد کنید</label></td>
                    <td><input id="name" type="text" name="name" placeholder="نام خود را وارد کنید"></td>
                </tr>
                <tr class="row">
                    <td><label for="family">فامیلی خود را وارد کنید</label></td>
                    <td><input id="family" type="text" name="name" placeholder="نام خانوادگی  خود را وارد کنید"></td>
                </tr>
                <tr class="row">
                    <td><label for="text">نظرات خود را وارد کنید</label></td>
                    <td  id="text"><textarea class="text"></textarea></td>
                </tr>
            </table>
        </div>
    </section>
    <!--end form-->
     <footer class="footer">design by kasra arab </footer>
</div>
<!--end website-->
</body>
</html>